<DOCTYPE html>
    <html>
        <head>
            <link rel="stylesheet" href="../style.css">
        </head>
        <body class="bg">
            <div class="header">
                <h1 class="tx">Hello this is H1real page.</h1>
            <div class="container">
                <a href="../index.html" class="button">Home page</a>
                <a href="about.page.html" class="button">About page</a>
                <a href="contact.me.page.html" class="button">contact page</a>
            </div>
            </div>
            
           
            <div class="h1">
                <H1>ABOUT ME</H1>
                <p>Hello my name is Tim and I am 10 years old</p>
                <h2>HERE IS IMAGE OF ME</h2>
                <img src="../img/My.image.png">
            </div>
        </body>
    </html>