<DOCTYPE html>
    <html>
        <head>
            <link rel="stylesheet" href="../style.css">
        </head>
        <body class="bg">
            <div class="header">
                <h1 class="tx">Hello this is H1real page.</h1>
                <div class="container">
                    <a href="../index.html" class="button">Home page</a>
                    <a href="about.page.html" class="button">About page</a>
                    <a href="contact.me.page.html" class="button">contact page</a>
        </div>
            </div>
            <div class="h1">
                <h2>HERE YOU CAN SEE HOW TO CONTACT ME</h2>
                <a class="db" href="https://www.youtube.com/@H1real454">YOUTUBE</a>
                <h3> My phone number</h3>
                <p>987 879 6949</p>
                <h3>My email</h3>
                <p>dbnothing69@gmail.com</p>
            </div>
        </body>
    </html>